.register-form {
  text-align: center;
  background-color: #fff;
  width: 240px;
}

.login-form-button {
  width: 100%;
}

.login-form-button {
  margin-bottom: 20px;
}

.alert-register {
  margin-bottom: 10px;
}
