.login-form {
  text-align: center;
  background-color: #fff;
  width: 240px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.login-form-forgot {
  margin-bottom: 10px;
}
.login-form-button {
  margin-bottom: 20px;
}
